@font-face {
    font-family: 'ostrich';
    src: url('ostrich-regular.ttf')
}

@font-face {
    font-family: 'ostrichBlack';
    src: url('ostrich-black.ttf')
}

/*html {*/
    /*height: 100%;*/
/*}*/

/*body{*/
    /*height: inherit;*/
/*}*/


html {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;

}

body {
    margin-bottom: 100px;
}

#mapContainer{
    height: 80vh;
    overflow: hidden;
}

/*#mapBody {*/
    /*overflow: hidden;*/
/*}*/


header {
    background-color: #cccc00;
    font-family: 'ostrichBlack';
    color: white;
    font-size: 13vh;
    padding-left: 3%;
    padding-top: 10px;
    border-bottom: 10px solid #333333;
    height: 20vh;
    /*margin-bottom: 10px;*/
}


#homePageHeader {
    background-color: #cccc00;
    font-family: 'ostrichBlack';
    color: white;
    text-align: center;
    font-size: 12vmax;
    line-height: normal;
    padding-left: 10px;
    padding-top: 2%;
    border-bottom: 10px solid #333333;
    /*height: 25vmin;*/
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
}

#homePageBG{
    position: fixed;
    display: inline-block;
    background-image: url('/imageIcons/homePageBGLarge.png');
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: center;*/
    height: 100%;
    width: 100%;
    padding-top: 5%;
}

#grayBackground {
    background-color: #e0e0e0;
    /*margin-top: 10px;*/
}

input{
    width: 100%;
    height: 20px;
    border: 0;
}

#group1 {
    display: inline-block;
}

label{
    font-family: 'ostrichBlack';
    margin-top: 5px;
}

.checklistHeader {
    margin-top: 15px;
    background-color: #4a4a4c;
    color: #e0e0e0;
    padding-top: 2px;
    padding-left: 5px;
}

textarea {
    border:0;
    resize: none;
    width:100%;

}

.checklist{
    height: 200px;
    width: 100%;
    overflow-y:scroll;
    background-color: white;

}

li {
    display: block;
    font-family: 'ostrich';
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    margin-bottom: 3px;
    border-bottom: 2px solid #4a4a4c;
    -webkit-padding-start: 0px;
}

.submitButton{
    float: right;
    background-color: #4a4a4c;
    color: #e1e34c;
    border: 0;
}

.container {
    width: 100%;
}


.appendDomHeader {
    font-family: 'ostrichBlack';
    font-weight: bold;
    margin-top: 20px;
    font-size: 12pt;
    border-bottom: 5px solid #4a4a4c;

    /*line-height: 10pt;*/
}

.appendDom {
    font-family: 'ostrich';
    /*font-weight: bold;*/
    /*margin-top: 20px;*/
    font-size: 10pt;
    /*line-height: 10pt;*/
}

.appendDom p{
    margin: 0;
    line-height: 10pt;
}

/*categories page tab lists */

#goods li {
    display: block;
    font-family: 'ostrichBlack';
    font-size: 6vmin;
    line-height: 8vmin;
    margin: 0;
    /*margin-bottom: 3px;*/
    border-bottom: 4px solid #cccccc;
    -webkit-padding-start: 0px;
    padding: 5px;
}

#goods li:hover{
    border: 2px solid #4a4a4c;
    border-bottom: 4px solid #4a4a4c;
}

#ethicalStandard li {
    display: block;
    font-family: 'ostrichBlack';
    font-size: 6vmin;
    line-height: 8vmin;
    margin: 0;
    /*margin-bottom: 3px;*/
    border-bottom: 4px solid #cccccc;
    -webkit-padding-start: 0px;
    padding: 5px;
}

#ethicalStandard li:hover{
    border: 2px solid #4a4a4c;
    border-bottom: 4px solid #4a4a4c;

}

#categoriesList {
    background-color: white;
}

/*////Active tab*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: white;
    background-color: #ff3366;
    font-family: "ostrichBlack";
    border: 0;
    height: 15%;
    margin: 0;

}

.nav-tabs{
    border-bottom: 10px solid #ff3366;
    margin-top: 10px;
    /*padding-left: 5px;*/
    height: 15%;

}

.nav-tabs>li>a {
    background-color: #cccccc;
    color: white;
    border: 0;
    font-family: "ostrichBlack";
    height: 15%;

}

.nav-tabs>li {
    margin-bottom: 0;
}
/*.nav-tabs>li.active>a{*/
    /*background-color: #ff3366;*/
    /*color: white;*/
/*}*/

#icon {
    fill: #db0400;
    /*stroke: #c4c4c4;*/
    /*stroke-width:2px;*/
    /*stroke-dasharray: 2,2;*/
    /*stroke-linejoin: round;*/
}

/*#informationList{*/
    /*height: 10%;*/
/*}*/

/*#informationTab{*/
    /*height: 10%;*/
/*}*/


#navBar{
    position: fixed;
    bottom: 0;
    background-color: #4a4a4c;
    height: 100px;
    width:100%;
}

#navBarMap{
    /*display: none;*/
    position: relative;
    /*bottom: -100;*/

    /*bottom: 0;*/
    background-color: #4a4a4c;
    height: 100px;
    width:100%;
}

#navMenu{
    display: block;
    position: relative;
    /*bottom: 0;*/
    z-index: 1;
    bottom: 50px;
    margin-bottom: -50px;
    /*background-color: #4a4a4c;*/
    /*height: 100px;*/
    /*width:100%;*/
    /*border-radius: 15%;*/
}

#menuTab{
    display: block;
    margin-left: 5%;
    /*margin-bottom: -1%;*/
    background-color: #4a4a4c;
    color: white;
    font-family: 'ostrichBlack';
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width:50px;
    padding-top: 15px;
    border-radius: 20% 20% 0 0;
    z-index: 1;
}

#tabLinks{
    background-color: #4a4a4c;
    height: 100px;
}

#category {
    height: 100%;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: center;
    background-image: url('/imageIcons/cartIcon.svg');

}

#category a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#store {
    height: 100%;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: center;
    background-image: url('/imageIcons/checkmarkIcon.svg');

}

#store a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#map {
    height: 100%;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: center;
    background-image: url('/imageIcons/mapIcon.svg');

}

#map a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#information {
    height: 100%;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: center;
    background-image: url('/imageIcons/informationIcon.svg');

}

#information a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 6vmin;
}

.col-xs-3 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 6vmin;

}

.row {
    margin: 0;
}

/*///////////Home Page navigation/////////*/


#homeCategory {
    /*position: relative;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*margin: 2.5%;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    width: 44vmin;
    height:48vmin;
    margin: 3vmin;
    margin-right: 2vmin;
    margin-left: 4vmin;


    border-radius: 10%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: top;*/
    /*z-index: 1;*/
    background-image: url('/imageIcons/cartIcon.svg');

}

#homeCategory a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    /*z-index: 2;*/
    font-size: 5vmin;
    padding-top: 98%;
}

#homeStore {
    /*position: relative;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*margin: 2.5%;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    width: 44vmin;
    height:48vmin;
    margin: 3vmin;
    margin-right: 2vmin;
    margin-left: 4vmin;

    border-radius: 10%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: top;*/
    /*z-index: 1;*/
    background-image: url('/imageIcons/checkmarkIcon.svg');
}

#homeStore a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 5vmin;
    padding-top: 98%;
}

#homeMap {
    /*position: relative;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*margin: 2.5%;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
    width: 44vmin;
    height:48vmin;
    margin: 3vmin;
    margin-left: 2vmin;

    border-radius: 10%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: top;*/
    /*z-index: 1;*/
    background-image: url('/imageIcons/mapIcon.svg');

}

#homeMap a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 5vmin;
    padding-top: 98%;
}

#homeInformation {
    /*position: relative;*/
    /*display: inline-block;*/
    /*float: right;*/
    /*margin: 2.5%;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/

    width: 44vmin;
    height:48vmin;
    margin: 3vmin;
    margin-left: 2vmin;

    border-radius: 10%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: top;*/
    /*z-index: 1;*/
    background-image: url('/imageIcons/informationIcon.svg');

}

#homeInformation a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 5vmin;
    padding-top: 98%;
}




/*/////////////On Map Popup/////////////*/

#mapContainer h4 {
    font-family: 'ostrichBlack';
    background-color: #4a4a4c;
    color: #e1e34c;
    padding-left: 3px;
    padding-top: 2px;
    font-size: 5em;

}

#mapContainer h5 {
    font-family: 'ostrich';
    font-size: 3em;
    color: #4a4a4c;
    padding-left: 3px;
    padding-top: 2px;
    line-height: 22pt;

}

#mapContainer img {
    width: 100%;
    height: auto;

}

#grayBackground p {
    height: 100%;
    padding: 12px;
    font-family: 'ostrich';
    font-size: 2em;
    line-height: 24pt;
}

#contact h3{
    font-family: 'ostrichBlack';
    padding: 12px;
    font-size: 4em;

}

#contactForm input {
    margin-bottom: 1%;
}


/*/////Store List*/

#storeList .container {
    width: 100%;
    max-height: 20vh;
    font-family: 'ostrichBlack';
    color: #e1e34c;
    margin-top: 2%;
    padding-left: 0;
    border-bottom: 5px solid #4a4a4c;
}

#storeList img {
    max-height: 13vh;
}

#storeList h4 {
    font-family: 'ostrichBlack';
    /*background-color: #4a4a4c;*/
    /*color: #e1e34c;*/
    color: #4a4a4c;
    padding-left: 3px;
    font-size: 5vmax;
    margin-bottom: -2vmax;
    margin-top: 5px;
    line-height: 4vmax;

}

#storeList h5 {
    font-family: 'ostrich';
    display: inline;
    font-size: 3vmax;
    color: #4a4a4c;
    padding-left: 3px;
    line-height: 7vmax;


}

button {
    display: inline;
    margin-left: 3%;
    /*margin-top: 3vmin;*/
    background-color: #4a4a4c;
    border-radius: 5px;
    border: 0;
    height: 3vmax;
    /*padding-top: 5px;*/
}

button a {
     font-family: 'ostrichBlack';
     color: #e1e34c;
    font-size: 2.5vmax;
    vertical-align: middle;
 }

button a:hover{
    color: white;
    text-decoration: none;
}

