@font-face {
    font-family: 'ostrich';
    src: url('ostrich-regular.ttf')
}

@font-face {
    font-family: 'ostrichBlack';
    src: url('ostrich-black.ttf')
}

header {
    background-color: #cccc00;
    font-family: 'ostrichBlack';
    color: white;
    font-size: 48pt;
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 10px solid #333333;
    /*margin-bottom: 10px;*/
}


#homePageHeader {
    background-color: #cccc00;
    font-family: 'ostrichBlack';
    color: white;
    text-align: center;
    font-size: 175pt;
    line-height: 160pt;
    padding-left: 10px;
    padding-top: 100px;
    border-bottom: 10px solid #333333;
    height: 550px;
    /*margin-bottom: 50px;*/
    /*margin-top: 50px;*/
}

#homePageBG{
    position: fixed;
    display: inline-block;
    background-image: url('/imageIcons/homePageBG.png');
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    /*background-position: center;*/
    height: 2000px;
    width: 100%;
}

#grayBackground {
    background-color: #e0e0e0;
    /*margin-top: 10px;*/
}

input{
    width: 100%;
    height: 20px;
    border: 0;
}

#group1 {
    display: inline-block;
}

label{
    font-family: 'ostrichBlack';
    margin-top: 5px;
}

.checklistHeader {
    margin-top: 15px;
    background-color: #4a4a4c;
    color: #e0e0e0;
    padding-top: 2px;
    padding-left: 5px;
}

textarea {
    border:0;
    resize: none;
    width:100%;

}

.checklist{
    height: 200px;
    width: 100%;
    overflow-y:scroll;
    background-color: white;

}

ul {
    display: block;
    font-family: 'ostrich';
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    margin-bottom: 3px;
    border-bottom: 2px solid #4a4a4c;
    -webkit-padding-start: 0px;

}

.submitButton{
    float: right;
    background-color: #4a4a4c;
    color: #e1e34c;
    border: 0;
}

.container {
    width: 95%;
}


.appendDomHeader {
    font-family: 'ostrichBlack';
    font-weight: bold;
    margin-top: 20px;
    font-size: 12pt;
    border-bottom: 5px solid #4a4a4c;

    /*line-height: 10pt;*/
}

.appendDom {
    font-family: 'ostrich';
    /*font-weight: bold;*/
    /*margin-top: 20px;*/
    font-size: 10pt;
    /*line-height: 10pt;*/
}

.appendDom p{
    margin: 0;
    line-height: 10pt;
}

#goods ul {
    display: block;
    font-family: 'ostrichBlack';
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    /*margin-bottom: 3px;*/
    border-bottom: 4px solid #cccccc;
    -webkit-padding-start: 0px;
    padding: 5px;
}

#goods ul:hover{
    border: 2px solid #4a4a4c;
    border-bottom: 4px solid #4a4a4c;
}

#ethicalStandard ul {
    display: block;
    font-family: 'ostrichBlack';
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    /*margin-bottom: 3px;*/
    border-bottom: 4px solid #cccccc;
    -webkit-padding-start: 0px;
    padding: 5px;
}

#ethicalStandard ul:hover{
    border: 2px solid #4a4a4c;
    border-bottom: 4px solid #4a4a4c;

}

#categoriesList {
    background-color: white;
}

/*////Active tab*/

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: white;
    background-color: #ff3366;
    font-family: "ostrichBlack";
    border: 0;

}

.nav-tabs{
    border-bottom: 10px solid #ff3366;
    margin-top: 10px;
    padding-left: 5px;
}

.nav-tabs>li>a {
    background-color: #cccccc;
    color: white;
    border: 0;
    font-family: "ostrichBlack";
}

.nav-tabs>li {
    margin-bottom: 0;
}
/*.nav-tabs>li.active>a{*/
    /*background-color: #ff3366;*/
    /*color: white;*/
/*}*/

#icon {
    fill: #db0400;
    /*stroke: #c4c4c4;*/
    /*stroke-width:2px;*/
    /*stroke-dasharray: 2,2;*/
    /*stroke-linejoin: round;*/
}




#navBar{
    position: fixed;
    bottom: 0;
    background-color: #4a4a4c;
    height: 100px;
    width:100%;
}

#category {
    position: relative;
    display: inline-block;
    align-content: center;
    width: 24%;
    height: 100%;
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    background-image: url('/imageIcons/cartIcon.svg');
    background-position: center;
    z-index: 1;
}

#category a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#store {
     position: relative;
     display: inline-block;
     align-content: center;
     width: 24%;
     height: 100%;
     background-repeat: no-repeat; /* for vertical repeat */
     background-repeat: no-repeat; /* for horizontal repeat */
     background-image: url('/imageIcons/checkmarkIcon.svg');
     background-position: center;
     z-index: 1;
 }

#store a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#map {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 24%;
    height: 100%;
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    background-image: url('/imageIcons/mapIcon.svg');
    background-position: center;
    z-index: 1;
}

#map a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

#information {
    position: relative;
    display: inline-block;
    align-content: center;
    width: 24%;
    height: 100%;
    background-repeat: no-repeat; /* for vertical repeat */
    background-repeat: no-repeat; /* for horizontal repeat */
    background-image: url('/imageIcons/informationIcon.svg');
    background-position: center;
    z-index: 1;
}

#information a{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/*///////////Home Page navigation/////////*/


#homeCategory {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 2.5%;
    margin-top: 5%;
    width: 45%;
    height: 500px;
    border-radius: 15%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: top;
    z-index: 1;
    background-image: url('/imageIcons/cartIcon.svg');

}

#homeCategory a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;
    z-index: 2;
    font-size: 40pt;
    padding-top: 95%;
}

#homeStore {
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 2.5%;
    margin-top: 5%;
    width: 45%;
    height: 500px;
    border-radius: 15%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: top;
    z-index: 1;
    background-image: url('/imageIcons/checkmarkIcon.svg');
}

#homeStore a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40pt;
    padding-top: 95%;
}

#homeMap {
    position: relative;
    display: inline-block;
    float: right;
    margin-right: 2.5%;
    margin-top: 5%;
    width: 45%;
    height: 500px;
    border-radius: 15%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: top;
    z-index: 1;
    background-image: url('/imageIcons/mapIcon.svg');

}

#homeMap a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40pt;
    padding-top: 95%;
}

#homeInformation {
    position: relative;
    display: inline-block;
    margin-right: 2.5%;
    margin-top: 5%;
    float: right;
    width: 45%;
    height: 500px;
    border-radius: 15%;
    background-color: #4a4a4c;
    background-repeat: no-repeat; /* for horizontal repeat */
    background-position: top;
    z-index: 1;
    background-image: url('/imageIcons/informationIcon.svg');

}

#homeInformation a{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'ostrichBlack';
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40pt;
    padding-top: 95%;
}

