<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shop by Category</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="../vendors/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../vendors/jquery-ui.js"></script>-->
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="../vendors/smoothness/jquery-ui.css">-->


</head>


<header>
    <div id="pageHeader">Categories</div>
</header>



<body>

<div id="categoriesList">
    <ul id="categoriesTab" class="nav nav-tabs">
        <li class="active"><a href="#goods" data-toggle="tab">GOODS TYPE</a></li>
        <li><a href="#ethicalStandard" data-toggle="tab">ETHICAL STANDARD</a></li>
        <!--<li><a href="#tabs-3">CREATE SHORTCUT</a></li>-->
    </ul>

    <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="goods">
        <ul>Accessories</ul>
        <ul>Artwork</ul>
        <ul>Baby  Beauty</ul>
        <ul>Chocolate</ul>
        <ul>Clothing- Children</ul>
        <ul>Clothing- Men</ul>
        <ul>Clothing- Women</ul>
        <ul>Coffee</ul>
        <ul>Decor</ul>
        <ul>Dining</ul>
        <ul>Food</ul>
        <ul>Formalwear</ul>
        <ul>Furniture</ul>
        <ul>Gifts</ul>
        <ul>Home Goods</ul>
        <ul>Hygiene</ul>
        <ul>Jewelry</ul>
        <ul>Outerwear</ul>
        <ul>Paper Goods</ul>
        <ul>Sporting Goods</ul>
        <ul>Textiles</ul>
        <ul>Toys</ul>
    </div>

    <div class="tab-pane fade" id="ethicalStandard">
        <ul>Recycled/Reclaimed </ul>
        <ul>Secondhand </ul>
        <ul>Eco-Friendly </ul>
        <ul>Locally Made </ul>
        <ul>Sustainable </ul>
        <ul>Handmade </ul>
        <ul>Transparency </ul>
    </div>
    </div>
</div>



</body>
</html>