<!DOCTYPE html>
<html lang="en">
<head>


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!--Link-->
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/email.css">

    <!--Scripts-->
    <script type="text/javascript" src="/assets/vendors/jquery.min.js"></script>
    <!--<script type="text/javascript" src="/assets/scripts/app.min.js"></script>-->
    <script type="text/javascript" src="/assets/scripts/email.min.js"></script>


</head>
<body>
<div class ="container col-md-4">
    <header>
    <div id="pageHeader">Help</div>
    </header>


    <div id="grayBackground">

    <h2>About</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book. It has survived not
        only five centuries, but also the leap into electronic typesetting, remaining essentially
        unchanged. It was popularised in the 1960s with </p>

        <div id="contact">
        <h3>Contact/Suggest a Store</h3>
        <form id="contactForm" method="POST" action="/contact">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Email" name="email">
                <textarea type="text" placeholder="Message" value="Message" name="message"
                          required></textarea>
        <button type="submit btn" onclick="window.location.href='home.html'">Submit</button>
        </form>
        </div>
    </div>
</div>

</body>


</html>