<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Conscious Shopper</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">


    <script type="text/javascript" src="/assets/vendors/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/admin.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/controllers/ContactFormController.min.js"></script>



</head>

    <div id="homePageHeader">Conscious Shopper</div>

<body>
    <div id="homePageBG">
        <div id="homeCategory"><a href="/assets/views/categories.html">SHOP BY CATEGORY</a></div>
        <div id="homeMap"><a href="/assets/views/map.html">SHOP BY LOCATION</a></div>
        <div id="homeStore"><a href="/assets/views/addstore.html">STORE LIST</a></div>
        <div id="homeInformation"><a href="/assets/views/information.html">INFORMATION</a></div>


    </div>
</body>

<footer>


    <!--<div id="navBar"></div>-->
    <!--<div id="navBar">-->
        <!--<div id="store"><a href="/assets/views/addstore.html"></a></div>-->
        <!--<div id="category"><a href="/assets/views/categories.html"></a></div>-->
        <!--<div id="map"><a href="/assets/views/map.html"></a></div>-->
        <!--<div id="information"><a href="/assets/views/information.html"></a></div>-->

    <!--</div>-->

</footer>

</html>