<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Information</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="../vendors/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../vendors/jquery-ui.js"></script>-->
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="../vendors/smoothness/jquery-ui.css">-->


</head>


<header>
    <div id="pageHeader">Information</div>
</header>



<body>

<div id="informationList">
    <ul id="informationTab" class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">ABOUT</a></li>
        <li><a href="#help" data-toggle="tab">HELP</a></li>
        <li><a href="#createShortcut" data-toggle="tab">CREATE SHORTCUT</a></li>
        <!--<li><a href="#tabs-3">CREATE SHORTCUT</a></li>-->
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="about">
            <h1>Here is a little about The Conscious Shopper</h1>
        </div>

        <div class="tab-pane fade" id="help">
            <h1>Here is a form you can use to submit questions you have.</h1>
        </div>

        <div class="tab-pane fade" id="createShortcut">
            <h1>You want an shortcut on your home screen? No problem, here's how: ...</h1>
        </div>
    </div>
</div>



</body>
</html>