<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Local List</title>
    <link rel="stylesheet" href="/assets/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script type="text/javascript" src="../vendors/jquery.min.js"></script>
    <!--<script type="text/javascript" src="../vendors/jquery-ui.js"></script>-->
    <script type="text/javascript" src="/assets/scripts/storelist.min.js"></script>

    <!--<link rel="stylesheet" href="../vendors/smoothness/jquery-ui.css">-->


</head>


<header>
    <div id="pageHeader">LOCAL LIST</div>
</header>



<body>
    <div id="storeList">
        <div class="spinner" id="spin">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>

</body>

<footer>

    <div id="navBar" class="row">
        <div id="store" class="col-xs-3"><a href="/assets/views/storelist.html"></a></div>
        <div id="category" class="col-xs-3"><a href="/assets/views/categories.html"></a></div>
        <div id="map" class="col-xs-3"><a href="/assets/views/map.html"></a></div>
        <div id="information" class="col-xs-3"><a href="/assets/views/information.html"></a></div>

    </div>

</footer>

</html>